*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding: 1%;
    height: 20%;
    background-color: white;
}

#tobolist{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

#taskbar{
    height: 60px;
    border: 3px solid red;
    margin: auto;
    margin-top: 60px;
    width: 80%;
}

#addtask{
    padding: 5px;
    margin-left: 3%;
    margin-top: 15px;
    background-color: rgb(82, 82, 197);
    border-radius: 10%;
    color: white;
    border: none;
}

#addsection{
    padding: 5px;
    color: lightgray;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10%;
}

#maindiv{
    height: 1000px;
    border: 3px solid red;
    margin: 5px auto;
    width: 80%;
}
